@import './colorPalette.scss';

.about {
	text-align: center;

	.descriptionContactImage {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.descriptionContact {
			margin: 2rem;
			border: 1px solid green;

			.selfDescription {
				// width: 35%;
                padding: 0 4rem;
				flex-direction: column;
				border: 1px solid black;
			}
		}

		img {
			height: 500px;
			border-radius: 50px 20px;
			border: 1rem solid transparent;
			background-image: linear-gradient(
				45deg,
				$midnightBlue,
				$turquoise
			);
			background-origin: border-box;
			background-clip: content-box, border-box;
		}
	}
}
