@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif, -apple-system, BlinkMacSystemFont,;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h3 {
	font-size: 5em;
	text-align: center;
	color: #fff;
	font-weight: 700;
}

#section1 {
	color: #fff;
}

.fp-section {
	text-align: center;
}
button {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 8;
}
