@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body, ul {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif, -apple-system,
		BlinkMacSystemFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: ivory;

	h2 {
		font-size: 3.5em;
		text-align: center;
		color: ivory;
		font-weight: 700;
	}
	h3 {
		font-size: 2em;
		text-align: center;
		color: ivory;
		font-weight: 600;
	}
	h4 {
		font-size: .75em;
		color: ivory;
		font-weight: 600;
	}
}

.fp-section {
	text-align: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: ivory;
}

#fp-nav.fp-right {
	right: 0.5rem;
}

button {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 8;
}
