.welcome {
	text-align: center;
	height: 100%;
	background-size: cover;
	background-image: url('../images/wreckBeach.jpeg');
	background-position: top center;
    background-attachment: fixed;
	display: flex;
	justify-content: center;

	#headerHolder {
		padding-top: 65vh;

		h2 {
			background-color: rgba(0, 0, 0, 0.7);
			padding: 1rem;
		}
	}
}
